<footer id="footer">
    <div class="container">
        <div>
            <h7>实验室概况</h7>
        </div>
        <hr> <!-- 这里添加一条横线 -->
        <div class="row">
            <div class="col-md-6">
                <h4>实验室人员</h4>
                <ul>
                    <li><strong>教授：</strong><strong> 郑煜辰</strong></li>
                    <li><strong>学生：</strong> 阳浩(2021级电子信息，已毕业)</li>
                    <div style="margin-left: 45px;">
                        <li>朱起峰(2022级电子信息，推免)</li>
                        <li>郑礼东(2022级电子信息)</li>
                        <li>徐圣杰(2022级电子信息)</li>
                        <li>陈佳恩(2022级电子信息)</li>
                        <li>陈恩泽(2022级电子信息)</li>
                        <li>武达(2023级电子信息，推免)</li>
                        <li>张鸣建(2023级电子信息)</li>
                        <li>张宜驰(2023级电子信息)</li>
                        <li>贾微(2023级电子信息)</li>
                        <li>马全青(2023级电子信息)</li>
                    </div>
                </ul>
            </div>
            <div class="col-md-6">
                <p><br></p>
                <p><br></p>
                <ul>
                    
                    <li>徐绍俊(2023级图书情报，与郑瑶老师共同指导)</li>
                    <li>陈宇龙(2023级图书情报，与朱东芹老师共同指导)</li>
                    <li>秦乃乾(2024级电子信息，推免)</li>
                    <li>白淏(2024级电子信息)</li>
                    <li>王澎(2024级电子信息)</li>
                    <li>杨意飞(2024级电子信息)</li>
                    <li>陈邹权（2024级网络空间安全，与王晓芳老师共同指导）</li>
                    <li>李英伦(2024级图书情报，与郑瑶老师共同指导)</li>
                    <li>张齐悦(2024级图书情报，与朱东芹老师共同指导)</li>
                    <li>刘子昂(2024电子信息，非全)</li>
                </ul>
            </div>
        </div>
        

        {{ partial "testimonials.html" . }}


        <div class="col-md-12">
            <hr>
        </div>
        <div class="row">
           
            <div class="col-md-6">
                <h4>担当学府</h4>
                <ul>
                    <li>石河子大学信息科学与技术学院</li>
                </ul>
            </div>
           
            <div class="col-md-6">
                <h4>联系方式</h4>
                <p>
                    石河子大学信息科学与技术学院<br>
                    <img src="img/icon/dianhuahao.svg" alt="矢量图" width="15" height="15">0993-2057997<br>
                    新疆维吾尔自治区石河子市北四路221号（石河子大学北区绿2）<br>
                    
                </p>
            </div>
        </div>
    </div>
</footer>


<!-- /#footer -->

<!-- *** FOOTER END *** -->

<!-- *** COPYRIGHT ***
_________________________________________________________ -->

<div id="copyright">
    <div class="container">
        <div class="col-md-12">
            <!-- {{ if isset .Site.Params "copyright" }} -->
            Copyright ©️ 2025, 石河子大学文档分析与模式识别实验室
            <!-- <p class="pull-left">{{ .Site.Params.copyright | safeHTML }}</p> -->
            <!-- {{ end }} -->
            
        </div>
    </div>
</div>
<!-- /#copyright -->

<!-- *** COPYRIGHT END *** -->